body {
	background:url(../img/bg.jpg) no-repeat;
	background-position:center top;
	padding:0px;
	margin:0px;
	font-family: 'Raleway', sans-serif;
}

h1 {
	color:#00aeff;
	font-weight:normal;
}

#logo {position:absolute; top:3%; left:5%;}
#term {position:absolute; top:3%; right:5%;}
#term h1 {float:left;}

.row1 {
	top:55%;
	left:5%;
}

.row0 {
	top:16%;
	left:5%;
}

.row {
	position:absolute;
	height:30%;
	width:90%;
}

#tweet2, #tweet3 {
	left:34% !important;	
}

#tweet4, #tweet5 {
	right:0% !important;	
}

.tweet {
	position:absolute;
	color:#fff;
	width:30%;	
	height:100%;
}

.tweet .info {
	height:40%; margin-top:25px;
	float:left;
}

.tweet .text {
	float:left;
	clear:both;
	width:100%;
	
	height:49%;
	background:#004667;
	border:1px solid #91c8e1;
	font-size:12px;
	padding:2%;
	overflow: hidden;
	font-weight: normal;
}

.tweet .text div {
	text-align: justify;
}

.tweet a {
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}

.tweet .text strong {
	color:#00aeff;
	font-weight:normal;
}

.tweet .author {
	width:62px;
	border:1px solid #91c8e1;	
}

.tweet .name {
	margin-left:10px;
	font-size:20px;
}

.preferences {
	position:absolute;
	bottom: 10px;
	right: 10px;
}

.preferences img {
	width:25px;
	float:right;
	margin-left:5px;
	opacity: 0.3;
}

.preferences img:hover {
	opacity: 1.0;
}

#loading_box {
	position:absolute;
	width:300px;
	height:90px;
	border:1px solid #fff;
	border-radius:10px;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
	top:30%;
	left:50%;
	margin-left:-150px;
	z-index:9999999;
	background:rgba(0, 0, 0, 0.4);
}

#loading_box #label {
	color:#fff;
	font-family:'Helvetica Neue',Arial,Helvetica,sans-serif; 
	font-size:32px;
}

