/*
@font-face {
  font-family: "raleway";
  src: url("../font/Raleway/raleway_thin.ttf")
}
*/

body {
	background:url(../img/bg.png) no-repeat;
	background-position:left top;
	padding:0px;
	margin:0px;
/*	font-family: "raleway", "Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;*/
	font-family: 'Raleway', sans-serif;
}

h1 {
	color:#00aeff;
	font-weight:normal;
}

#logo {position:absolute; top:3%; left:5%;}
#hashtag {position:absolute; top:3%; right:5%;}
#hashtag h1 {float:left;}

.row1 {
	top:55%;
	left:5%;
}

.row0 {
	top:16%;
	left:5%;
}

.row {
	position:absolute;
	height:30%;
	width:90%;
}

#tweet2, #tweet3 {
	left:34% !important;	
}

#tweet4, #tweet5 {
	right:0% !important;	
}

.tweet {
	position:absolute;
	color:#fff;
	width:30%;	
	height:100%;
}

.tweet .info {
	height:40%; margin-top:25px;
	float:left;
}

.tweet .text {
	float:left;
	clear:both;
	width:100%;
	
	height:49%;
	background:#004667;
	border:1px solid #91c8e1;
	font-size:12px;
	padding:2%;
	font-weight: normal;
}

.tweet .text div {
	text-align: justify;
}

.tweet .text strong {
	color:#00aeff;
}

.tweet .author {
	width:62px;
	border:1px solid #91c8e1;	
}

.tweet .name {
	margin-left:10px;
	font-size:20px;
}

.preferences {
	position:absolute;
	bottom: 1%;
	right: 1%;
}

.preferences img {
	width:25px;
	float:right;
	margin-left:5px;
	opacity: 0.3;
}

.preferences img:hover {
	opacity: 1.0;
}
